$black: #000;
$white: #fff;
$page-background: #F4F5F6;

$blue-btn: #2197F4;
$green-btn: #E9F4F3;
$green-text: #239688;
$grey-text: #979CA4;

$text-color: #596981;
$title-color: #1D3353;

$field-border: #DDDDDD;

$common-gradient: linear-gradient(315.76deg, #0B638E 0%, #239688 100%);
$common-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);