@import 'typography';
@import 'mixins';
@import 'colors';

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    height: 100%;
    body {
        font-family: Roboto-Regular;
        background-color: $page-background;
    }
}
